beautifulsoup4==4.11.1
bioformats-jar==2020.5.27
cffi==1.15.1
colorama==0.4.6
colour-science==0.4.1
contourpy==1.0.6
cycler==0.11.0
git+https://github.com/Cytomine-ULiege/Cytomine-python-client@v2.9.0#egg=cytomine-python-client
dnspython==2.2.1
elementpath==2.5.3
email-validator==1.3.0
fastcluster==1.2.6
fonttools==4.38.0
idna==3.4
imageio==2.22.3
interpolation==2.2.4
jgo==1.0.4
joblib==1.2.0
JPype1==1.4.1
kiwisolver==1.4.4
llvmlite==0.39.1
lxml==4.9.1
matplotlib==3.6.2
networkx==2.8.8
numba==0.56.4
numpy==1.23.4
ome-types==0.3.1
opencv-contrib-python==4.6.0.66
packaging==21.3
pandas==1.5.1
Pillow==9.3.0
Pint==0.20.1
pkgconfig==1.5.5
psutil==5.9.3
pycparser==2.21
pydantic==1.10.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
pyvips==2.2.1
PyWavelets==1.4.1
scikit-image==0.19.3
scikit-learn==1.1.3
scipy==1.9.3
scyjava==1.8.0
Shapely==1.8.5.post1
SimpleITK==2.2.0
six==1.16.0
soupsieve==2.3.2.post1
Tempita==0.5.2
threadpoolctl==3.1.0
tifffile==2022.10.10
tqdm==4.64.1
typing_extensions==4.4.0
valis-wsi==1.0.0rc12
weightedstats==0.4.1
xmlschema==1.11.3
